<!-- views/home.ejs -->
<div class="container-fluid  p-3">
    <div class="container my-2">
        <div class="row col-md-12">
            <div class="col-md-6">
                <div class="my-5">
                    <% if (typeof user !=="undefined" && user) { %>
                        <p> <strong>Hi, <%= user.name %>!</strong> </p>
                        <% } %>
                            <h2>Sorry for no css</h2>
                            <div class="my-5">
                                <p class="fw-lighter">yubikey chat app</p>
                            </div>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>